.breadcrum{
    padding-bottom: 15px;
  border-bottom: 1px solid #ececec;
  font-size: 13px;
  color: #7E7E7E;
  font-weight: 500;

}
.breadcrum svg{
    vertical-align: middle;
    margin: 0 7px;
    
}