.home-carousel{
    width: 100%;
    margin: auto;
}

.home-carousel img{
    width: 100%;
    border-radius: 20px;
}
.slide-content{
    width: 50%;
    height: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 6vw;
}
.slide-content h1{
    font-size: 60px;
    font-weight: 700;
}
.slide-content p{
    color: #7E7E7E;
    font-size: 20px;
}
@media(max-width:576px){
    .slide-content{
        width: 100%;
    }
    .home-carousel img{
        height: 430px !important;
        width: 100%;
        object-fit: cover;
        object-position: 56%;
    }
    .home-carousel{
        overflow-x: hidden;
    }
    .home-carousel h1{
        font-size: 30px;
        line-height: 30px;
        margin-bottom: 10px;
    }
    
    
}