.footer-wrapper{
    width: 100%;
    height: 300px;
    background-color: #253d4e;
    color: #fff;
    padding: 20px 5vw;

    position: relative;
}
.footer{
    
    display: flex;
    justify-content: space-between;
}
#subFooter{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
#subFooter h3{
font-weight: 700;
font-size: 25px;
margin-bottom: 15px;
}
#subFooter a{
    color: #fff;
    font-size: 16px;
    font-weight: 600;

}
.rights{
    padding-bottom: 10px;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
}
@media(max-width:567px){
    .footer{
        width: 100%;
        flex-wrap: wrap;
        gap: 35px;
    }
    .footer-wrapper{
        height: 580px;
    }
    #subFooter{
        width: 44% !important;
        gap: 15px;
    }
    .rights{
        width: 100%;
        text-align: center;
    }
}